:local(.className) {
    /*测试代码 start------------>*/
    h1 {
        line-height: 200px;
        text-align: center;
        color: #34C1DA;
        background: url('./images/left-icon.png');
        background-repeat-y: no-repeat;
    }
    /* <----------- 测试代码 end*/
}
